<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gmail.sleepybee410.picshelf">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity
                android:name="com.gmail.sleepybee410.picshelf.activity.MainActivity"
                android:screenOrientation="portrait"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
                android:name="com.gmail.sleepybee410.picshelf.activity.EditActivity"
                android:screenOrientation="portrait"
                android:label="@string/edit_frame"/>

        <receiver android:name="com.gmail.sleepybee410.picshelf.WidgetProvider"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.gmail.sleepybee410.picshelf.PicShelfAppWidgetProvider.ACTION_CLICK" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/pic_shelf_app_widget_info"/>
        </receiver>

        <activity android:name="com.gmail.sleepybee410.picshelf.activity.AddActivity"
                android:label="@string/add_widget"
                android:screenOrientation="portrait"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.SingleImageActivity"
                android:screenOrientation="portrait"/>

        <service android:name="com.gmail.sleepybee410.picshelf.ListViewWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <provider
                android:authorities="com.gmail.sleepybee410.picshelf.fileProvider"
                android:name="androidx.core.content.FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_path"/>
        </provider>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-8159193305024294~9713819865"/>

    </application>

</manifest>